<div class="main">
  <!-- Left Slide -->
  <div class="left-side" *ngIf="screen == 0">
    <div class="three-selectors">
      <button class="crative" id="{{ crativecol }}" mat-stroked-button (click)="crative()">
        Creative
      </button>
      <button class="crative" id="{{ whatsappcol }}" mat-stroked-button (click)="whatsapp()">
        WhatsApp
      </button>
      <button class="crative" id="{{ smscol }}" mat-stroked-button (click)="sms()">
        SMS
      </button>
    </div>

    <div class="cimg">
      <img *ngIf="crativecol" class="crativeimg" src="/assets/images/CreativeTemplate.png" alt="Crative" />
      <img *ngIf="whatsappcol" class="crativeimg" id="whatsappimg" src="/assets/images/iPhone.png" alt="Shatsapp" />
      <img *ngIf="smscol" class="crativeimg" id="smsimg" src="/assets/images/sms.png" alt="SMS" />
    </div>
  </div>

  <!-- Right Slide -->
  <div class="right-side" *ngIf="screen == 0">
    <button class="close">
      <img src="/assets/images/round-close.png" alt="Close Btn" />
    </button>
    <p class="firline">Present Campaign Name Here (5th Oct - 11th Nov)</p>
    <p class="secline">Campaign Title Here</p>
    <button class="freeitem" mat-stroked-button>
      <img src="/assets/images/gift.png" alt="SMS" />Free Item
    </button>
    <button class="rightbtn" (click)="customizeandsend()" mat-stroked-button>
      Customize & Send
    </button>
  </div>

  <!-- Left Slide 1-->
  <div class="left-side"
    *ngIf=" screen == 1 ||screen == 2 ||screen == 3 ||screen == 4 ||screen == 5 ||screen == 6 ||screen == 7 ||screen == 8 ||screen == 9 ||screen == 10">
    <div class="lft1">
      <p class="{{ current[0] }} {{ infill[0] }}">1</p>
      <span class="{{ filldash[0] }}"></span>
      <p class="{{ bar[1] }} {{ current[1] }} {{ infill[1] }}">2</p>
      <span class="{{ filldash[1] }}"></span>
      <p class="{{ bar[2] }} {{ current[2] }} {{ infill[2] }}">3</p>
      <span class="{{ filldash[2] }}"></span>
      <p class="{{ bar[3] }} {{ current[3] }} {{ infill[3] }}">4</p>
      <span class="{{ filldash[3] }}"></span>
      <p class="{{ bar[4] }} {{ current[4] }} {{ infill[4] }}">5</p>
      <span class="{{ filldash[4] }}"></span>
      <p class="{{ bar[5] }} {{ current[5] }} {{ infill[5] }}">6</p>
      <span class="{{ filldash[5] }}"></span>
      <p class="{{ bar[6] }} {{ current[6] }} {{ infill[6] }}">7</p>
      <span class="{{ filldash[6] }}"></span>
      <p class="{{ bar[7] }} {{ current[7] }} {{ infill[7] }}">8</p>
      <span class="{{ filldash[7] }}"></span>
      <p class="{{ bar[8] }} {{ current[8] }} {{ infill[8] }}">9</p>
      <span class="{{ filldash[8] }}"></span>
      <p class="{{ bar[9] }} {{ current[9] }} {{ infill[9] }}">10</p>
      <span class="{{ filldash[9] }}"></span>
    </div>
  </div>

  <!-- Right Slide 1-->
  <div class="right-side" *ngIf="screen == 1">
    <div class="up">
      <button class="back" (click)="back(0)">&#60;Back</button>
      <button class="save">Save & Exit</button>
    </div>

    <div>
      <p class="firline1">How do you want to send the campaign?</p>
      <p class="secline1">Select channels</p>

      <div class="dvbtn">
        <button class="s1btn" mat-stroked-button>
          <img src="/assets/images/whatsapp.png" alt="whatsapp" />WhatsApp
        </button>
        <button class="s1btn" mat-stroked-button>
          <img src="/assets/images/sms-outline.png" alt="SMS" />SMS
        </button>
        <button class="s1btn s1btn3" mat-stroked-button>
          <img src="/assets/images/email.png" alt="Email" />Email
        </button>
      </div>

      <div class="botdv1">
        <img src="/assets/images/info-outline.png" alt="info" />
        WhatsApp messages will be sent to customers who have made a purchase.
        Opted-out and imported customers will be excluded.
      </div>

      <div class="dvnext">
        <button class="next" (click)="Next(2)">Next</button>
      </div>
    </div>
  </div>

  <!-- Right Slide 2-->
  <div class="right-side" *ngIf="screen == 2">
    <div class="up">
      <button class="back" (click)="back(1)">&#60;Back</button>
      <button class="save">Save & Exit</button>
    </div>

    <div>
      <p class="firhed2">What is this campaign about?</p>

      <p class="sedlin2">Campaign Title</p>
      <input class="inptitle" matInput placeholder="Campaign Title Here" />

      <p class="thilin2">Campaign Description</p>
      <textarea class="area" matInput
        placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."></textarea>

      <p class="sedlin2">Reward Type</p>
      <input class="inptitle" matInput placeholder="Redeem ₹ discount" />
      <input class="inptitle" matInput placeholder="₹180 OFF" />
    </div>

    <div class="rad">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Entire Purchase</mat-radio-button>
        <mat-radio-button value="2">Specific Product</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="dvnext nex2">
      <button class="next" (click)="Next(3)">Next</button>
    </div>
  </div>

  <!-- Right Slide 3-->
  <div class="right-side" *ngIf="screen == 3">
    <div class="up">
      <button class="back" (click)="back(2)">&#60;Back</button>
      <button class="save">Save & Exit</button>
    </div>

    <div>
      <div>
        <p class="firhed2">Add terms of your campaign</p>

        <div class="dtpic">
          <div>
            <p class="sedlin2">Campaign starts on</p>
            <input class="picker" type="date">
          </div>

          <div>
            <p class="sedlin2">Campaign expires on</p>
            <input class="picker" type="date">
          </div>
        </div>

        <p class="sedlin2">Redemption per customer</p>
        <div class="rad foropt">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Only once</mat-radio-button>
            <mat-radio-button class="multitem" value="2">Multiple Items</mat-radio-button>
          </mat-radio-group>
        </div>

        <p class="thilin2">Terms & Conditions</p>
        <div class="area">
          <ul class="unli">
            <li>Minimum purchase required</li>
            <li>2 offers cannot be clubbed</li>
            <li>Reward cannot be exchanged for cash</li>
            <li>Reward redeemable in-store only</li>
            <li>Merchant reserves the right to the final say in case of any disputes</li>
          </ul>
        </div>

        <section class="check">
          <mat-checkbox class="example-margin">Minimum purchase required</mat-checkbox>
          <mat-checkbox class="example-margin">2 offers cannot be clubbed</mat-checkbox>
          <mat-checkbox class="example-margin">Reward cannot be exchanged for cash</mat-checkbox>
          <mat-checkbox class="example-margin">Reward redeemable in-store only</mat-checkbox>
          <mat-checkbox class="example-margin">Merchant reserves the right to the final say in case of any
            disputes</mat-checkbox>
          <mat-checkbox class="example-margin">Additional T&C apply</mat-checkbox>
        </section>

        <p class="sedlin2 lin3">Contact Number</p>
        <input class="inptitle con" matInput placeholder="Contact number" />
        <p class="sedlin2 con ltex">This will be included in your Campaign link, SMS, & WhatsApp</p>
      </div>

      <div class="dvnext nex2">
        <button class="next" (click)="Next(4)">Next</button>
      </div>
    </div>
  </div>

  <!-- Right Slide 4-->
  <div class="right-side" *ngIf="screen == 4">
    <div class="up">
      <button class="back" (click)="back(3)">&#60;Back</button>
      <button class="save">Save & Exit</button>
    </div>

    <p class="firhed2">Add terms of your campaign</p>

    <p class="sedlin2">Logo</p>
    <div class="area upl">

    </div>
    <p class="sedlin2 con ltex upnot">Recommended size 512 x 512 px in JPG, GIF or PNG format upto max size of 10MB</p>


      <div>
        <p class="secline1"><strong>Banner Image</strong></p>

        <div class="fileInputBox"><input type="file" /> Upload your Image</div>
        <p>
          Recommended size 512 x 512 px in JPG, GIF or PNG format upto max size
          of 10MB
        </p>
       

        <div class="imagesBox">
          <div >
            <img src="/assets/images/blog-img1.png" alt="">
            <h4>My Library</h4>
            <p>17 Images | 5 Videos</p>
          </div>

          <!-- <div>
            <img src="/assets/images/blog-img1.png" alt="">
            <h4>My Library</h4>
            <p>17 Images | 5 Videos</p>
          </div>

          <div>
            <img src="/assets/images/blog-img1.png" alt="">
            <h4>My Library</h4>
            <p>17 Images | 5 Videos</p>
          </div>

          <div>
            <img src="/assets/images/blog-img1.png" alt="">
            <h4>My Library</h4>
            <p>17 Images | 5 Videos</p>
          </div> -->
        </div>
        <div class="dvnext">
          <button class="next" (click)="Next(5)">Next</button>
        </div>
      </div>
    </div>
  </div>



  <!-- screen 5  -->

  
  <div class="right-side" *ngIf="screen == 5">
    <div class="up">
      <button class="back" (click)="back(0)">&#60;Back</button>
      <button class="save">Save & Exit</button>
    </div>

    <div>
      <p class="firline1">Review WhatsApp Message</p>
      <!-- <p class="secline1"><strong>Edit message</strong></p> -->

      <p class="thilin2">Edit message</p>
      <textarea
        class="area"
        matInput
        placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      ></textarea>
      <p class="linkCopy">Campaign link: l.lol.io/sKjh0 </p>



      <div>
        <p class="thilin2">Header</p>

        <div class="imagesBox">
          <div class="rad">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Defult Image</mat-radio-button>
              <mat-radio-button value="2">Add your own</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <br>
        <br>
        <br>

        
        <div>
          <button class="uploadBtn"><img src="/assets/images/material-symbols_upload.png" alt="">Upload</button>
          <p class="fiveText">Recommended size 512 x 512 px in JPG, GIF or PNG format upto max size of 10MB</p>
        </div>
    
         

        <div>
          <p class="thilin2">Select Phone Number</p>
          <input type="number" class="inptitle" matInput placeholder="Contact number" />
          
        </div>

        <div>
          <p class="thilin2">Buttons</p>
          <br>
          <p class="thilin2">Buttons1</p>
          
        </div>



        <div>
          <p class="thilin2">Link</p>
          <input type="text" class="inptitle" matInput placeholder="l.fig.wi/90PuF" />  
        </div>


        <div>
          <p class="thilin2">Button label</p>
          <input type="text" class="inptitle" matInput placeholder="Learn more" />  
          <img src="" alt="">
        </div>

        <div class="dvnext">
          <button class="next" (click)="Next(6)">Next</button>
        </div>
      </div>
    </div>
  </div>


  <!--  screen 6  -->


  <div class="right-side" *ngIf="screen == 6">
    <div class="up">
      <button class="back" (click)="back(0)">&#60;Back</button>
      <button class="save">Save & Exit</button>
    </div>

    <div>
      <p class="firline1">Review SMS  </p>
      <!-- <p class="secline1"><strong>Edit message</strong></p> -->

      <p class="thilin2">Edit SMS <span>Edit SMS (Character length: 484 / 2 credit)</span></p>

      <textarea
        class="area"
        matInput
        placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        To stop receiving messages from Sample Cafe click l.lol.io/jki9o."
      ></textarea>
      <p class="linkCopy">Campaign link: l.lol.io/sKjh0 </p>



      <div>
        <p class="thilin2">Campaign Link:</p>

        <div class="imagesBox">
          <div class="rad">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Figwi Link</mat-radio-button>
              <mat-radio-button value="2">Custom Link</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <br>
        <br>
        <br>

        <div class="linkBox">
          <h2>l.fig.wi/f_7pir</h2>
          <p>This link will take your customer to the campaign page. </p> 
          <mat-icon>file_copy</mat-icon><span>Copy</span>  
        </div>

      </div>
      <div class="dvnext">
        <button class="next" (click)="Next(7)">Send for approval</button>
      </div>
    </div>
  </div>


  <!--  SCREEN 7 -->

  <div class="right-side" *ngIf="screen == 7">
    <div class="up">
      <button class="back" (click)="back(6)">&#60;Back</button>
      <button class="save">Save & Exit</button>
    </div>

    <div>
      <p class="firline1">Review SMS  </p>
      <!-- <p class="secline1"><strong>Edit message</strong></p> -->

      <p class="thilin2">Edit SMS <span>Edit SMS (Character length: 484 / 2 credit)</span></p>

      <textarea
        class="area"
        matInput
        placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        To stop receiving messages from Sample Cafe click l.lol.io/jki9o."
      ></textarea>
      <p class="linkCopy">Campaign link: l.lol.io/sKjh0 </p>



      <div>
        <p class="thilin2">Campaign Link:</p>

        <div class="imagesBox">
          <div class="rad">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1">Figwi Link</mat-radio-button>
              <mat-radio-button value="2">Custom Link</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <br>
        <br>
        <br>

        <div>
          <p class="thilin2">Enter your custom link that you want to include instead of Figwi campaign link.</p>
          <input type="text" class="inptitle" matInput placeholder="https://order.example.com" />  
        </div>
        <br>
        <br>
      
        <div class="seven">
          <p>Or</p>
          <div>
            <section class="example-section">
              <mat-checkbox class="example-margin checkbox"
                >Convert file into link</mat-checkbox
              >
            </section>
          </div>
          <button class="uploadBtnfive"><img src="/assets/images/material-symbols_upload.png" alt="">Upload Your File</button>

        </div>

     
      </div>
      <div class="dvnext">
        <button class="next" (click)="Next(8)">Send for approval</button>
      </div>
    </div>
  </div>


  <!-- SCREEN 8 -->

  <div class="right-side" *ngIf="screen == 8">
    <div class="up">
      <button class="back" (click)="back(7)">&#60;Back</button>
      <button class="save">Save & Exit</button>
    </div>

    <div>
      <p class="firline1">Review Email </p>
      <!-- <p class="secline1"><strong>Edit message</strong></p> -->

      <p class="thilin2">Subject Email</p>
      <input type="text" class="inptitle" matInput placeholder="Pre-defined subject goes here" /> 

      <div class="dvnext">
        <button class="next" (click)="Next(9)">Next</button>
      </div>
    </div>
  </div>

  <!-- SCREEN 9  -->

  <div class="right-side" *ngIf="screen == 9">
    <div class="up">
      <button class="back" (click)="back(8)">&#60;Back</button>
      <button class="save">Save & Exit</button>
    </div>

    <div>
      <p class="firline1">Who do you want to send to? </p>
      <p class="thilin2">Select audience</p>
      <br>

  

      <div class="nineBtn">
       All Customers (2090)
      </div>
      <br>

      <div class="nineBtntwo">
        <h4>Target Group</h4>
      </div>
      <br>

      <!-- <div class="nineBtntwo">
        <h4>Advanced Filters</h4>
      </div> -->


      


      <div class="dvnext">
        <button class="next" (click)="Next(10)">Next</button>
      </div>
    </div>
  </div>

  
</div>
